<header class="header">
  <div class="hero p-md-5 text-white">
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="text-container py-4 px-3 px-md-none vstack justify-content-center"
          >
            <h1 class="lh-sm text-justify display-3">
              <span class="fw-light fs-4">Hii, i'm Aldiii.</span><br />
              <span class="fw-bold">Fullstack Web Developer</span>
            </h1>
            <p class="lead">
              I code websites in my spare time, and I'm passionate about it.
            </p>
            <p class="text-medium">
              Within my journey of doing web coding and programming as a hobby, I
              discovered many tools and frameworks, such as Django, React, etc,
              until I feel comfortable with Angular and NestJs.
            </p>
            <div class="btn-container">
              <button class="btn btn-outline-light btn-lg text-capitalize">
                get to know me
              </button>
            </div>
          </div>
          <div
            class="image-container d-lg-block d-flex justify-content-center my-3 gap-2"
          >
            <img
              src="images/angular-logo.svg"
              alt="Angular"
              class="logo img-fluid me-3"
            />
            <img
              src="images/nestjs-logo.svg"
              alt="Angular"
              class="logo img-fluid"
            />
          </div>
        </div>
        <div class="col-lg-6 d-none d-md-block">
          <div
            class="image-container d-flex justify-content-center align-items-center h-100"
          >
            <div
              class="me-container position-relative my-4 mx-auto rounded-circle overflow-hidden"
            >
              <img
                src="images/me.jpg"
                alt="Aldiii"
                class="img-fluid me-portrait position-relative rounded-circle"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 1920 192.275"
  >
    <title>frame-decoration</title>
    <path
      fill="#ffffff"
      d="M0,158.755s63.9,52.163,179.472,50.736c121.494-1.5,185.839-49.738,305.984-49.733,109.21,0,181.491,51.733,300.537,50.233,123.941-1.562,225.214-50.126,390.43-50.374,123.821-.185,353.982,58.374,458.976,56.373,217.907-4.153,284.6-57.236,284.6-57.236V351.03H0V158.755Z"
      transform="translate(0 -158.755)"
    />
  </svg>
</header>
