<header class="header">
  <div class="hero p-md-5 text-white">
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-8">
          <div
            class="text-container py-4 px-3 px-md-none vstack justify-content-center"
          >
            <h1 class="lh-sm text-justify display-3">
              <span class="fw-light fs-4">Hi, I'm Aldi 👋</span><br />
              <span class="fw-bold">Full-Stack Web Developer</span>
            </h1>
            <p class="lead mb-3">
              I craft websites in my spare time—not just for fun, but out of
              pure passion.
            </p>
            <p class="fw-light fs-3">
              Along my journey as a hobbyist turned developer, I've explored
              various tools and frameworks—like Django, React, and more—before
              finally finding my groove with Angular and NestJS.
            </p>
          </div>
          <div
            class="image-container d-lg-block d-flex justify-content-center my-3 gap-2"
          >
            <img
              src="images/logos/angular-logo.svg"
              alt="Angular"
              class="logo img-fluid me-3"
            />
            <img
              src="images/logos/nestjs-logo.svg"
              alt="Angular"
              class="logo img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 1920 108"
  >
    <title>frame-decoration</title>
    <path
      fill="#ffffff"
      d="M0,158.755s63.9,52.163,179.472,50.736c121.494-1.5,185.839-49.738,305.984-49.733,109.21,0,181.491,51.733,300.537,50.233,123.941-1.562,225.214-50.126,390.43-50.374,123.821-.185,353.982,58.374,458.976,56.373,217.907-4.153,284.6-57.236,284.6-57.236V351.03H0V158.755Z"
      transform="translate(0 -158.755)"
    />
  </svg>
</header>

<section class="about-me my-5">
  <div class="p-md-5">
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container p-3 lh-md mt-5">
            <h1 class="display-3 mb-3">About Me</h1>
            <p class="fw-light lh-md fs-3">
              I'm a passionate Full-Stack Developer with a strong interest in
              technology and continuous learning. I hold a D3 degree in Computer
              Informatics from LP3I, where I gained a solid foundation in
              software development, and I'm currently pursuing a Bachelor's
              degree in Law at Asyafi'iyah Islamic University.
            </p>
            <p class="fw-light lh-md fs-3">
              As a tech hobbyist, I dedicate my free time to staying up to date
              with the latest trends and advancements in the industry. My
              diverse educational background and hands-on experience allow me to
              approach problems with a unique perspective, combining logic,
              creativity, and adaptability in every project I take on.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div
            class="image-container h-100 d-flex justify-content-center align-items-center"
          >
            <div
              class="me-container position-relative my-4 mx-auto rounded-circle overflow-hidden"
            >
              <img
                src="images/me.jpg"
                alt="Aldiii"
                class="me-portrait position-relative rounded-circle"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio">
  <h1 class="display-3 text-center my-3">Portfolios</h1>

  <div
    class="porto-bg overflow-hidden px-3 py-5 d-flex align-items-center justify-content-center flex-column position-relative"
    style="--porto-bg: url('/images/memories/porto-one/IMG20190930215130.jpg')"
  >
    <div class="container-xl">
      <div class="row g-3">
        <div class="col-lg-6">
          <div class="text-container text-white position-relative">
            <h2 class="display-4 mb-3 text-uppercase">Bizhare</h2>
            <p class="fw-light lh-md fs-4">
              I worked as a Front-End Developer for a startup company, where I
              gained valuable experience in both technology and the startup
              environment.
            </p>
            <p class="fw-light lh-md fs-4">
              During my time worked in there, I built a Progressive Web App
              (PWA) for mobile devices using Angular.
            </p>
            <p class="fw-light lh-md fs-4">
              I also became proficient in using Postman for testing REST APIs
              and learned how to resolve Git conflicts, among many other
              practical skills.
            </p>
          </div>
        </div>
        <div
          class="col-lg-6 d-md-flex align-items-center justify-content-center gap-2 d-block"
        >
          <div
            class="porto-img-container overflow-hidden position-relative rounded-5 mt-3"
          >
            <img
              src="images/memories/porto-one/IMG20191111154346.jpg"
              alt="porto-one"
            />
          </div>
          <div
            class="porto-img-container overflow-hidden position-relative rounded-5 mt-3"
          >
            <img
              src="images/memories/porto-one/Screenshot_2019-11-13-19-16-00-20.png"
              alt="porto-one"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="porto-bg overflow-hidden px-3 py-5 d-flex align-items-center justify-content-center flex-column position-relative"
    style="--porto-bg: url('/images/memories/porto-two/IMG20191027141451.jpg')"
  >
    <div class="container-xl">
      <div class="row g-3">
        <div class="col-lg-6">
          <div class="text-container text-white position-relative">
            <h2 class="display-4 mb-3 text-uppercase">Start</h2>
            <p class="fw-light lh-md fs-4">
              My team and I shared a dream of building a platform to support
              musicians and artists in launching their careers. We envisioned it
              as a space where Event Organizers (EOs) could easily discover and
              connect with talent, creating a seamless marketplace for both
              sides.
            </p>
            <p class="fw-light lh-md fs-4">
              Throughout the project, I developed essential soft skills such as
              collaboration across diverse backgrounds, public speaking, and
              time management. I worked closely with the design team to create
              landing pages using Wix and design mockups with MarvelApp, while
              other team members prepared presentation materials.
            </p>
            <p class="fw-light lh-md fs-4">
              Our hard work paid off when we won 1st Place in the Team Pitching
              category during the Pre-Incubation Stage. Unfortunately, the
              project couldn't move forward due to the COVID-19 pandemic and the
              resulting government restrictions.
            </p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <div
            class="porto-img-container overflow-hidden position-relative rounded-5 mt-3"
          >
            <img
              src="images/memories/porto-two/IMG20200301165429.jpg"
              alt="porto-two"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="get-in-touch">
  <div class="hero p-md-5 p-3 pt-5 text-white">
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="text-container">
            <h1 class="text-center display-2">Let's Connect</h1>
            <p class="fst-italic mb-4 text-center">
              “Strangers are just friends waiting to happen.” — Rod McKuen
            </p>
            <p class="mb-4 fs-3">
              Whether it's for collaboration, job opportunities, or just to say
              hi—I'd love to hear from you!
            </p>
          </div>
          <div class="d-flex justify-content-center gap-4 mb-4">
            <!-- LinkedIn Icon -->
            <a
              href="https://www.linkedin.com/in/aldiansyah-fandevtian-581aa824b/"
              target="_blank"
              class="text-white display-1 p-2"
              aria-label="LinkedIn"
            >
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG -->
  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 1920 108"
  >
    <title>frame-decoration</title>
    <path
      fill="#ffffff"
      d="M0,158.755s63.9,52.163,179.472,50.736c121.494-1.5,185.839-49.738,305.984-49.733,109.21,0,181.491,51.733,300.537,50.233,123.941-1.562,225.214-50.126,390.43-50.374,123.821-.185,353.982,58.374,458.976,56.373,217.907-4.153,284.6-57.236,284.6-57.236V351.03H0V158.755Z"
      transform="translate(0 -158.755)"
    />
  </svg> -->
</section>
