.header {
  background: repeating-linear-gradient(
    65deg,
    rgb(163, 10, 209),
    rgb(209, 10, 27) 75%
  );
}

img.logo {
  image-rendering: pixelated;
  margin: 0 auto;
  max-width: 8rem;
}

.me-container {
  min-width: 20rem;
  min-height: 20rem;

  max-width: 30rem;
  max-height: 30rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    animation: 10s infinite ease-in rgb-background;
    background-color: rgb(209, 10, 27);
    background: repeating-linear-gradient(
      65deg,
      rgb(209, 10, 27) 5rem,
      rgb(163, 10, 209) 15rem,
      rgb(209, 10, 27) 25rem
    );
    background-size: 100rem 100rem;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  img.me-portrait {
    width: 100%;
    height: 100%;
    transform: scale(0.94);
    z-index: 2;
  }
}

// Section Portfolio
.portfolio {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 8px;
  perspective-origin: 0%;

  .porto-bg {
    background-image: var(--porto-bg);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    min-height: 100vh;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(46, 41, 41, 0.877);
      z-index: 0;
      height: 100%;
      width: 100%;
    }
  }

  .porto-img-container {
    height: 30rem;
    width: 100%;

    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      animation: porto-img-anim 15s infinite linear;
    }
  }
}

// Get In Touch
.get-in-touch {
  background: repeating-linear-gradient(
    145deg,
    rgb(163, 10, 209),
    rgb(209, 10, 27) 75%
  );
}

// Keyframes
@keyframes rgb-background {
  0% {
    background-position: 0% 0%;
    transform: rotate(0deg) scale(2);
  }
  50% {
    background-position: 100% 100%;
    transform: rotate(180deg) scale(2);
  }
  100% {
    background-position: 0% 0%;
    transform: rotate(360deg) scale(2);
  }
}

@keyframes porto-img-anim {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
